#sprava{display:block}
#odebratRoli{display:none}
#smazatUser{display:none}
.navbar a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color:white;
  
  }
button {
    background-color: #036280 !important;
    border: none !important;
    color: white;

    text-align: center;
    text-decoration: none;
    border-radius:12px;
    
    font-size: 16px;
  }
  tr {
    border: 1px solid black;
  }
  .tdRight{text-align:right;}
  .change{
    background-color:#378ba4;
    border-radius:12px;
}
.delete:hover {
    background-color:#ad0000 !important;
    transition: 0.7s !important;
}